* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
  --main-color: #222222;
  --another-color: #181818;
  --text-color: #00c853;
  --another-text-color: #fff;
  --padding: 60px;
}


/* Start components */
  .special-hedading {
    
    color: var(--text-color);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0
  }
  .special-hedading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--another-text-color);

  }
/* End components */
body {
font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
} 


  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* start Hedader */
  .hedader {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #181818;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  .hedader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hedader .logo {
    width: 60px;
  }
  .hedader .links {
    position: relative;
  }
  .hedader .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .hedader .links .icon span {
    background-color: #fff;
    margin-bottom: 5px;
    height: 2px;
  }

  .hedader .links .icon span:first-child{
    width: 100%;
  }

  .hedader .links .icon span:nth-child(2){

    width: 60%;
    transition: 0.3s;
  }

  .hedader .links .icon span:last-child{
    width: 100%;
  }

  .hedader .links .icon span:nth-child(2):hover {
    width: 100%;

  }
  
  .hedader .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #222222;
    right: 0;
    position: absolute;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }

  

  .hedader .links ul::before {
    content: ""; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #222222 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.hedader .links:hover ul {
  display: block;
}
  
.hedader .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--another-text-color);
  transition: 0.3s;
}

.hedader .links ul li a:hover {
  padding-left: 25px;
}

.hedader .links ul li:not(:last-child) a {
  border-bottom: #181818 solid 1px;
}
/* End Hedaders */

/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
margin: 0px;
color: var(--text-color);
  font-weight: bold;
  font-size: 50px;
}

.landing .intro-text p {
font-size: 19px;
line-height: 1.8;

}
/* End Landing */

/* Start Features */
.features {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--main-color);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap:  20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--text-color);
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0px;
  color: var(--another-text-color);
}
.features .feat p {
line-height: 1.8;
color: var(--another-text-color);
font-size: 17 px;
}
/* End Features */

/* Start Services */

.services {
background-color: var(--main-color);
}


.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .services-content .srv {
  display: flex;
  margin: 40px;
}

.services .services-content i {
  color: var(--text-color);
  flex-basis: 60px;
}

.services .services-content .srv .text {
  flex: 1;
  color: var(--another-text-color);
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
color: var(--another-text-color);
font-weight: 300;
line-height: 1.6;
}

.services .services-content .image{
  text-align: center;
  position: relative;
}

.services .services-content .image img {
  width: 260px;
  border-radius: 10px;
}

@media (max-width: 767px) {
.special-hedading {
  font-size: 60px;
}
.special-hedading + p {
  margin: -20px;
}
.services .services-content .srv{
  flex-direction: column;
  text-align: center;
}
}
@media (max-width: 1199px) {
  .imge-colm {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */

.portfolio {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--main-color);
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

.portfolio .portfolio-content .card {
background-color: var(--another-color);
color: var(--another-text-color);
border-radius: 10px;
}

.portfolio .portfolio-content .card img {
max-width: 100%;
border-radius: 10px;
}

.portfolio .portfolio-content .card .info {
padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
margin: 0;
}

.portfolio .portfolio-content .card .info p {
line-height: 1.6;
margin-bottom: 0;
}
@media (max-width: 767px) {
  
.portfolio .portfolio-content .card .info{
  text-align: center;
}
}
/* End Portfolio */
/* Start About */

.about {
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) + 60px);
  background-color: var(--main-color);
}

.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width:991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .imge {
  position: relative;
  width: 250px;
  height: 375px;
  
}

@media (max-width:991px) {
  .about .about-content .imge {
    margin: 0 auto 60px;
}
}

.about .about-content .imge::before {
  content: '';
  position: absolute;
  background-color: red;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}

.about .about-content .imge::after {
  content: '';
  top: -40px;
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid red;
  border-bottom: 80px solid red;
  right: -150px;
  z-index: -1;
}

@media (max-width:991px) {
  .about .about-content .imge::before,.about .about-content .imge::after {
    display: none;
  }
}


.about .about-content .imge img {
  max-width: 100%;
  border-radius: 10px;
}  
.about .about-content .text {
  flex-basis: calc(100% - 500px);
  color: var(--another-text-color);
}
.about .about-content .text p:first-of-type {
font-weight: bold;
font-size: 2;
margin-bottom: 50px;
line-height: 2;
}
.about .about-content .text hr {
width: 60%;
display: inline-block;
border-color: var(--text-color);
}
.about .about-content .text p:last-of-type {
line-height: 1.5;

}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--padding);
  padding-bottom: calc(var(--padding) + 60px);
  background-color: var(--main-color);
}

.contact .info {
  padding-bottom: var(--padding);
  padding-top: var(--padding);
  text-align: center;
}

.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--another-text-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: blue;
  text-decoration: none;
}

.contact .info .socil {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}
.contact .info .socil i {
  margin-left: 10px;
  color: #fff;
}
@media (max-width:991px) {
  .contact .info .link {
    font-size: 20px;
  }
  .contact .info .label {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--another-color);
  color: var(--another-text-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  }
  .footer span {
    color: var(--text-color);
    font-weight: bold;
  }

/* End Footer */
